* {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background: url('../assets/squares.jpg');
  background-size: auto 100%;
  min-height: 100%;
}

body * {
  text-align: center;
}

#wrap {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

#overlay {
  background-color: #00102a;
  opacity: .95;
  height: 390px;
}

#logo {
  width: 745px;
  height: 114px;
  background-image: url('../assets/img_logo.png');
}

#logo-big {
  width: 745px;
  height: 114px;
  background-image: url('../assets/img_logo.png');
  margin: 0 auto;
  margin-top: 35px;
}

#subtitle {
  font-size: 30px;
  line-height: 36px;
  color: #9ADFFF;
  position: relative;
  top: 10px;
  font-weight: lighter;
}

#buttons {
  position: relative;
  top: 50px;
}

#getStarted,
#download {
  width: 250px;
  height: 57px;
  display: inline-block;
  margin-left: 5px;
}

#getStarted:hover,
#download:hover {
  background-position-y: -60px;
}

#getStarted:active,
#download:active {
  background-position-y: -120px;
}


#getStarted {
  background-image: url('../assets/btn_getStarted.png');
}

#download {
  background-image: url('../assets/btn_download.png');
}

#buttonText {
  position: absolute;
  bottom: 8px;
  margin-left: 70px;
  color: #fff;
}

#alternate {
  font-size: 17px;
  line-height: 12px;
  color: #0095de;
  position: relative;
  top: 85px;
  background-color: transparent;
  font-family: 'Roboto regular', sans-serif;
}

#alternate:hover {
  color: #ffffff;
}

#copyright {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 2%;
  font-size: 14px;
  color: #518CCF;
  width: 100%;
}

#links {
  margin: 0 10px;
}

#links a {
  color: #518CCF;
  text-decoration: none;
}

#links a:hover {
  text-decoration: underline;
}