html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

body * {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a.no-hover:hover{
  text-decoration: none;
}

span a, p a {
  color: #0095de;
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
}

p code {
  background: #f7fafb;
  border: #e3edf3 1px solid;
  border-radius: 2px;
  font-family: 'Consolas', Courier, monospace;
  font-size: 0.85em;
  line-height: 1.2em;
  padding: 1px 3px;
  white-space: pre-wrap;
}

p.center {
  text-align: center;
}

p.inner-padding-10 * {
  padding: 10px;
}

p em {
  font-family: Arial;
  font-size: 12px;
}

button {
  border: none;
  cursor: pointer;
}

#header {
  margin: 68px auto 0;
  width: 100%;
  height: 133px;

  background-image: url('../assets/squares.jpg');
  background-size: 1700px;
  background-position-y: -150px;

  color: #FFF;
  font-size: 38px;
  font-weight: 600; /* semibold */

  padding-left: 10%;
  padding-top: 46px;
}

#container {
  display: flex;
  width: 65%;
  margin: auto;
}

#left {
  width: 20%;
  min-width: 200px;
  position: relative;
}

#right {
  flex: 1;
}

.vertical-menu {
  list-style: none;
  border-left: 5px solid #0095de;
  padding: 0;
}

.vertical-menu.stick {
  position: fixed;
  top: 70px;
}

.vertical-menu li {
  padding: 10px 15px;
}

.vertical-menu li a {
  color: #000;
}

.vertical-menu li a:hover {
  text-decoration: underline;
}

.vertical-menu li a.active {
  color: #0095de;
}

/* Footer stuff here */
#copyright {
  width: 65%;
  height: 40px;
  margin: auto;
  margin-top: 125px;
  font-size: 14px;
  color: #666;
  line-height: 28px;
}

.company-name {
  font-weight: bold;
}

#download {
  width: 246px;
  height: 47px;
  display: inline-block;
  margin-left: 5px;
}

#download:hover {
  background-position-y: -60px;
}

#download:active {
  background-position-y: -120px;
}

#download {
  background-image: url('../assets/btn_download.png');
}

.download-xbc {
  background: linear-gradient(to right,#24a898,#1a8477);
  background-color: #24a898;
  display: inline-block;
  height: 65px;
  width: 300px;
  border-radius: 3px;
  font-size: 16px;
}

.download-xbc a {
  vertical-align: top;
  padding: 5px 10px 10px 10px;
  display: inline-block;
}

.download-xbc .softwareIcon {
  height: 50px;
  width: 50px;
  background-image: url('../assets/xbc-white.png');
  display: inline-block;
  vertical-align: middle;
}

.download-xbc .softwareInfo {
  margin-left: 1px;
  display: inline-block;
  vertical-align: middle;
}

.download-xbc .softwareDownloadText {
  display: block;
  vertical-align: middle;
  text-align: center;
}

.download-xbc .softwareVersion {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}

.download-xbc .softwareRelease {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}

.download-xbc .softwareDownloadText,
.download-xbc .softwareVersion,
.download-xbc .softwareRelease {
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Helvetica Neue, Arial, sans-serif;
  color: #FFFFFF;
}

