
<h1 class="id">core <span class="type">module</span></h1>
<p></p>


<ul class="quicklink">
  <li><h3><a href="#/core/Source">Source class</a></h3></li>
  <li><h3><a href="#/core/KeyingType">KeyingType enum</a></h3></li>
  <li><h3><a href="#/core/ChromaPrimaryColors">ChromaPrimaryColors enum</a></h3></li>
  <li><h3><a href="#/core/ChromaAntiAliasLevel">ChromaAntiAliasLevel enum</a></h3></li>
  <li><h3><a href="#/core/ActionAfterPlayback">ActionAfterPlayback enum</a></h3></li>
  <li><h3><a href="#/core/CuePoint">CuePoint class</a></h3></li>
  <li><h3><a href="#/core/IItemChroma">IItemChroma interface</a></h3></li>
  <li><h3><a href="#/core/IItemColor">IItemColor interface</a></h3></li>
  <li><h3><a href="#/core/IItemLayout">IItemLayout interface</a></h3></li>
  <li><h3><a href="#/core/IItemTransition">IItemTransition interface</a></h3></li>
  <li><h3><a href="#/core/IItemAudio">IItemAudio interface</a></h3></li>
  <li><h3><a href="#/core/IItemConfigurable">IItemConfigurable interface</a></h3></li>
  <li><h3><a href="#/core/IItemPlayback">IItemPlayback interface</a></h3></li>
  <li><h3><a href="#/core/IItemEffect">IItemEffect interface</a></h3></li>
  <li><h3><a href="#/core/Environment">Environment class</a></h3></li>
  <li><h3><a href="#/core/App">App class</a></h3></li>
  <li><h3><a href="#/core/Scene">Scene class</a></h3></li>
  <li><h3><a href="#/core/Transition">Transition class</a></h3></li>
  <li><h3><a href="#/core/Channel">Channel class</a></h3></li>
  <li><h3><a href="#/core/Dll">Dll class</a></h3></li>
  <li><h3><a href="#/core/Extension">Extension class</a></h3></li>
  <li><h3><a href="#/core/CameraSource">CameraSource class</a></h3></li>
  <li><h3><a href="#/core/GameSource">GameSource class</a></h3></li>
  <li><h3><a href="#/core/AudioSource">AudioSource class</a></h3></li>
  <li><h3><a href="#/core/HtmlSource">HtmlSource class</a></h3></li>
  <li><h3><a href="#/core/FlashSource">FlashSource class</a></h3></li>
  <li><h3><a href="#/core/ScreenSource">ScreenSource class</a></h3></li>
  <li><h3><a href="#/core/ImageSource">ImageSource class</a></h3></li>
  <li><h3><a href="#/core/MediaSource">MediaSource class</a></h3></li>
</ul>

