
<h1 class="id">core <span class="type">module</span></h1>
<p></p>


<ul class="quicklink">
  <li><h3><a href="#/core/Environment">Environment class</a></h3></li>
  <li><h3><a href="#/core/App">App class</a></h3></li>
  <li><h3><a href="#/core/Scene">Scene class</a></h3></li>
  <li><h3><a href="#/core/Transition">Transition class</a></h3></li>
  <li><h3><a href="#/core/ItemTypes">ItemTypes enum</a></h3></li>
  <li><h3><a href="#/core/Item">Item class</a></h3></li>
  <li><h3><a href="#/core/CameraItem">CameraItem class</a></h3></li>
  <li><h3><a href="#/core/GameItem">GameItem class</a></h3></li>
</ul>

<p class="defined-in">defined in <a href="https://github.com/xjsframework/xjs/tree/release-0.1.0/modules/core.ts#L1-L8">core.ts (line 1)</a></p>
