:host {
  width: 65%;
  height: 40px;
  margin: auto;
  margin-top: 125px;
  font-size: 14px;
  color: #666;
  line-height: 28px;

  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  justify-content: space-between;
}

:host a {
  text-decoration: none;
  color: #666;
}

#flex-container {
  display: flex;
  justify-content: space-between;
  width: 1100px;
}

#company-name {
font-weight: bold;
}

#links {
  display: inline-flex;
  width: 165px;
  justify-content: space-between;
}
